.episode {
    display: flex;
}

.episode_right {
    display: grid;
    padding-left: 5%;
}

.episode_right>h2 {
    font-size: medium;
    font-weight: 800;
}

.episode_right>h3 {
    font-size: small;
}