.home {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 69px;
}

.home_body {
    flex: 0.8;
    text-align: center;
}

.home_chart {
    display: flex;
}

.home_gallery {
    /* max-width: 1020px; */
    max-width: 50vw;
    padding-left: 05%;
    align-content: center;
}

