.sidebar {

    display: grid;
    flex: 0.2;
    padding-left: 107px;
}

.sidebar>hr {
    width: 257px;
}

.sidebar_top {
    padding-top: 33px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border-color: #CECECE, 100%;
    width: 320px;
    /* height: 375px; */

}

.sidebar_bottom {
    text-align: center;
}

#now {
    font-family: Boldstrom;
    font-weight: 400;
    color: #F78701, 100%;

}

#next {
    font-family: Boldstrom;
    color: #545454, 100%;
}