.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header_right {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header_right>a {
    padding-right: 10px;
    text-decoration: none;
    color: black;

}

.header_left {
    text-align: center;
    display: grid;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
