/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400'); */


@font-face {
  font-family: 'Boldstrom';
  src: local('Boldstrom'), url(./Fonts/Boldstrom\ D.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./Fonts/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'America';
  src: local('America'), url(./Fonts/Hello\ America\ Demo.woff2) format('woff2');
}

html {
  scroll-behavior: smooth;
}