@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../../Assets/Fonts/Montserrat-Regular.otf) format('otf');
}
.profiles{
    align-items: center;
    align-content: center;
    justify-content: center;
    align-tracks: center;
}
.profiles>h4 {
    /* overlap */
    position: absolute;
    text-align: center;
}

.profiles>#card {
    /* base of overlap */
    position: relative;
    border: none;
    border-radius: 2vh;
    /* avoid distorted images */
    object-fit: contain;
    margin-left: 2vh;
    margin-top: 2vh;
    text-align: center;
    width: 235.77px;
    height: 235.77px;

}

.profiles_dets {
    color: white;
    text-align: center;
    font-size: medium;
}